.footer {
  background-color: #fef2f4;
  border-radius: 0px 60px 60px;
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 30px 0;
  padding: 10px 20px;
  @media (max-width: 525px) {
    flex-direction: column;
    gap: 5px;
  }

  .contacts {
    width: 300px;
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #6f0025;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      font-size: 20px;
      display: inline-block;
    }
    @media (max-width: 525px) {
      flex-direction: column;
    }
  }
  .socialIcon {
    display: flex;
    gap: 30px;
    img {
      height: 40px;
    }
  }
}
